@tailwind base;
@tailwind components;
@tailwind utilities;

/* Titillium Web Bold */
@font-face {
  font-family: 'Titillium Web';
  src: url('/src/assets/fonts/TitilliumWeb-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/* TitilliumWeb-SemiBold */
@font-face {
  font-family: 'Titillium Web';
  src: url('/src/assets/fonts/TitilliumWeb-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* TitilliumWeb-ExtraLight */
@font-face {
  font-family: 'Titillium Web';
  src: url('/src/assets/fonts/TitilliumWeb-ExtraLight.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
